@import "../../index.css";

.main {
  height: 100%;
}
/* Sidebar */

.sidebar {
  --bg-full: #fff3d673;
  background-color: var(--bg-full);
  padding: 1rem;
  box-shadow: var(--bx-shadow);
}

.sidebar__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
  width: 100%;
}

/* Form */
.form {
  width: 100%;
}

.form__container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-input__container {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}
.todo-input__container label {
  font-size: 1.8rem;
  font-weight: 700;
}

.todo-input__container #todo-input {
  border: 1px solid #ddd;
  padding: 1rem;
  font-size: 1.4rem;
}

/* Todo List */

.section__container {
  padding: 1rem;
}

.todo-list__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.todo-list__items:not(:first-child) {
  margin-block: 1.4rem;
}

.todo-text {
  font-size: 1.6rem;
}
.todo-list__items::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: #dde;
  bottom: -0.5rem;
  left: 0;
}

.btn-close {
  font-size: 4rem;
  color: #880d1e;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .section-todo {
    grid-row: 2/3;
  }
  .sidebar {
    grid-row: 1/2;
  }
}
